<!DOCTYPE html>
<html>
    
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css')}}">
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <script src="{{ url_for('static', filename='JS\script1.js')}}"></script>
    </head>

    <style>
        
    </style>
    <script>


    </script>
    
    <body>
            
        <div class="place">
                <h1 >Login</h1>
                
            <form id="loginForm" onsubmit="submitForm(event)">
                <div class="textbox">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="username" id="username" name="username" required />
                </div>
                
                <div class="textbox">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="password" id="password" name="password" required />
                </div>

                <a href="/product_catalog" class="button" type="submit">Login</a>
            </form>
            <p class="register" style="font-weight: bold; font-size: large; ">Not a member?<a href="/signin">Register here!</a></p>
        </div>
        
        
    </body>
</html>

